<a href="https://colab.research.google.com/github/snehassingh27/Python-Project-1/blob/main/singhtask2_r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load necessary libraries
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [4]:
# Load necessary libraries
library(tidyverse)

In [5]:
# Function to read data with error handling
read_data <- function(file_path) {
  tryCatch(
    {
      data <- read_csv(file_path)
      return(data)
    },
    error = function(e) {
      cat("Error: Unable to read the data file. Please check the file path and format.\n")
      return(NULL)
    }
  )
}

In [6]:
# Task 11: Read the data set baseball.csv
baseball <- read_data("baseball.csv")
if (is.null(baseball)) stop("Exiting script due to data load failure.")

Rows: 771 Columns: 16
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): Last, First
dbl (14): Age, G, PA, AB, R, H, 2B, 3B, HR, RBI, SB, CS, BB, SO

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [7]:
# Task 12: Explore the data
if (exists("baseball")) glimpse(baseball)

Rows: 771
Columns: 16
$ Last  <chr> "Acker", "Adduci", "Aguayo", "Aguilera", "Akerfelds", "Aldrete",…
$ First <chr> "Jim", "Jim", "Luis", "Rick", "Darrel", "Mike", "Doyle", "Andy",…
$ Age   <dbl> 27, 26, 27, 24, 24, 25, 35, 24, 33, 27, 33, 25, 29, 22, 32, 23, …
$ G     <dbl> 21, 3, 62, 32, 1, 84, 18, 101, 102, 8, 48, 92, 15, 1, 121, 15, 1…
$ PA    <dbl> 28, 13, 146, 57, 0, 256, 45, 324, 230, 11, 7, 241, 12, 0, 453, 6…
$ AB    <dbl> 28, 11, 133, 51, 0, 216, 38, 293, 196, 11, 6, 216, 11, 0, 425, 5…
$ R     <dbl> 1, 2, 17, 4, 0, 27, 2, 30, 29, 0, 0, 31, 1, 0, 40, 9, 24, 0, 0, …
$ H     <dbl> 3, 1, 28, 8, 0, 54, 8, 66, 43, 1, 0, 53, 1, 0, 112, 20, 81, 0, 0…
$ `2B`  <dbl> 1, 1, 6, 0, 0, 18, 1, 7, 7, 0, 0, 9, 0, 0, 21, 5, 15, 0, 0, 18, …
$ `3B`  <dbl> 0, 0, 1, 0, 0, 3, 0, 3, 2, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 2, 0, 0…
$ HR    <dbl> 0, 0, 4, 2, 0, 2, 0, 1, 7, 0, 0, 1, 0, 0, 11, 0, 7, 0, 0, 1, 0, …
$ RBI   <dbl> 0, 0, 13, 6, 0, 25, 5, 29, 27, 0, 0, 15, 0, 0, 58, 7, 38, 0, 0, …
$ SB    <dbl> 0, 0, 1, 0, 0, 1, 0, 10, 11, 0, 0, 5, 0, 0, 0, 1, 1, 0, 0, 13, 0…
$ CS    <dbl> 0, 0, 1, 0, 0, 3, 0, 1, 4, 0, 0, 1, 0, 0, 3, 2, 0, 0, 0, 7, 0, 1…
$ BB    <dbl> 0, 1, 8, 3, 0, 33, 0, 14, 30, 0, 0, 22, 0, 0, 24, 3, 39, 2, 0, 3…
$ SO    <dbl> 21, 2, 26, 12, 0, 34, 8, 36, 38, 4, 3, 39, 4, 0, 77, 13, 56, 3, …

In [8]:
# Task 13: Filter out players with 0 at bats and store back into baseball
baseball <- tryCatch(
  {
    baseball %>% filter(AB > 0)
  },
  error = function(e) {
    cat("Error: Could not filter players with AB > 0. Please check the data.\n")
    return(NULL)
  }
)
if (is.null(baseball)) stop("Exiting script due to data filtering failure.")

In [9]:
# Task 14: Add a new column for batting average (BA)
baseball <- tryCatch(
  {
    baseball %>% mutate(BA = H / AB)
  },
  error = function(e) {
    cat("Error: Could not calculate BA. Please check the data.\n")
    return(NULL)
  }
)

In [10]:
# Task 15: Calculate the mean batting average (mean_BA)
mean_BA <- tryCatch(
  {
    mean(baseball$BA, na.rm = TRUE)
  },
  error = function(e) {
    cat("Error: Could not calculate mean BA. Please check the data.\n")
    return(NA)
  }
)

In [11]:
# Task 16: Filter players with a batting average greater than or equal to the mean and store as great_players_df
great_players_df <- tryCatch(
  {
    baseball %>% filter(BA >= mean_BA)
  },
  error = function(e) {
    cat("Error: Could not filter players with BA >= mean_BA. Please check the data.\n")
    return(NULL)
  }
)

In [12]:
# Task 17: Create a new column HR_rate
baseball <- tryCatch(
  {
    baseball %>% mutate(HR_rate = HR / AB)
  },
  error = function(e) {
    cat("Error: Could not calculate HR_rate. Please check the data.\n")
    return(NULL)
  }
)

In [13]:
# Task 18: Sort the data set by HR_rate in descending order and store as high_HRrate_df
high_HRrate_df <- tryCatch(
  {
    baseball %>% arrange(desc(HR_rate))
  },
  error = function(e) {
    cat("Error: Could not sort data by HR_rate. Please check the data.\n")
    return(NULL)
  }
)

In [15]:
# Task 19: Calculate mean HR rate and filter players with HR_rate above mean, store as great_HR_players_df
mean_HR_rate <- tryCatch(
  {
    mean(baseball$HR_rate, na.rm = TRUE)
  },
  error = function(e) {
    cat("Error: Could not calculate mean HR_rate. Please check the data.\n")
    return(NA)
  }
)

great_HR_players_df <- tryCatch(
  {
    baseball %>% filter(HR_rate > mean_HR_rate)
  },
  error = function(e) {
    cat("Error: Could not filter players with HR_rate > mean_HR_rate. Please check the data.\n")
    return(NULL)
  }
)